h1{
    font-size: 4em;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 1em;
    padding : 0.5em;
    margin-top : 1em;
}

h2{
    font-size: 1.5em;
}

li{
    margin-bottom: 20px;
}

li img{
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 10px;
     display: flex;
  justify-content: center;
}

li iframe{
    width: 100%;
    height: 400px;
    border: none;
}

li p{
    font-size: 1em;
    line-height: 1.5;
}

li h3{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.more {
  display: none;
}

.more.show {
  display: inline;
}

body{
    margin : 2em;
    padding : 2em;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

img{
    border-radius: 10px;
    display: flex;
    justify-content: center;
}